{
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "extends": ["standard", "standard-react"],
  "rules": {
    "no-unused-vars": [
      "error",
      {
        "vars": "all",
        "args": "after-used"
      }
    ],
    "space-before-function-paren": [
      "error",
      {
        "anonymous": "never",
        "named": "never",
        "asyncArrow": "always"
      }
    ],
    "jsx-quotes": "off",
    "camelcase": "off",
    "react/prop-types": "off"
  },
  "globals": {
    "fetch": true,
    "FormData": true,
    "localStorage": true,
    "window": true
  }
}
